---
swagger: "2.0"
info:
  description: This document consists of unecrypted version of  Experian Verify service endpoints. This service returns standard payroll data Report which has paycheck, employer, employee PII, grosspay and other information.
  version: 0.0.7
  title: cis-verification-cpd-service
host: us-ev-api.experian.com
basePath: /consumerservices/verification/v1
schemes:
  - https
paths:
  /experianverify:
    post:
      tags:
        - Consumer Services
      summary: Experian Verify income and employment report
      description: Returns income and employment data for a given consumer from employee payroll provider.
      operationId: get cpd income and employment data
      parameters:
        - name: clientReferenceId
          in: header
          description: API client generated reference Id to uniquely identify the  transaction.
          required: true
          type: string
        - name: Content-Type
          in: header
          description: Input Request format
          required: true
          type: string
          default: application/json
          enum:
            - application/json
        - name: Accept
          in: header
          description: Output Response format
          required: true
          type: string
          default: application/json
          enum:
            - application/json
        - name: subcode
          in: header
          description: unique value provided by experian at onboarding
          required: true
          type: string
        - in: body
          name: body
          description: Consumer's PII , Requestor Information, Addons and any custom options to be specified here.
          required: true
          schema:
            $ref: '#/definitions/voieRequestParams'
      security:
        - OauthSecurity:
            - user
      responses:
        "200":
          description: API responds with a JSON.
          headers:
            clientReferenceId:
              type: string
              description: Echo back of the reference Id , if provided on API request header
            experianTransactionId:
              type: string
              description: Unique ID generated by Experian for this API request
          schema:
            $ref: '#/definitions/voieResponse'
        "400":
          description: Bad Request
          headers:
            clientReferenceId:
              type: string
              description: Echo back of the reference Id , if provided on API request header
            experianTransactionId:
              type: string
              description: Unique ID generated by Experian for this API request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/AuthenticationErrorResponse'
        "403":
          description: Forbidden.
          headers:
            clientReferenceId:
              type: string
              description: Echo back of the reference Id , if provided on API request header
            experianTransactionId:
              type: string
              description: Unique ID generated by Experian for this API request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "404":
          description: Not Found.
          headers:
            clientReferenceId:
              type: string
              description: Echo back of the reference Id , if provided on API request header
            experianTransactionId:
              type: string
              description: Unique ID generated by Experian for this API request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "405":
          description: Method not Allowed
          headers:
            clientReferenceId:
              type: string
              description: Echo back of the reference Id , if provided on API request header
            experianTransactionId:
              type: string
              description: Unique ID generated by Experian for this API request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "406":
          description: Not Acceptable
          headers:
            clientReferenceId:
              type: string
              description: Echo back of the reference Id , if provided on API request header
            experianTransactionId:
              type: string
              description: Unique ID generated by Experian for this API request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "415":
          description: Unsupported Media Type
          headers:
            clientReferenceId:
              type: string
              description: Echo back of the reference Id , if provided on API request header
            experianTransactionId:
              type: string
              description: Unique ID generated by Experian for this API request
          schema:
            $ref: '#/definitions/ErrorResponse'
        "429":
          description: Too many requests
          schema:
            $ref: '#/definitions/ErrorResponse'
        "500":
          description: Internal Server Error.
          schema:
            $ref: '#/definitions/ErrorResponse'
        "502":
          description: bad gateway.
          schema:
            $ref: '#/definitions/ErrorResponse'
        "503":
          description: Service Unavailable.
          schema:
            $ref: '#/definitions/ErrorResponse'
        "504":
          description: Gateway Timeout.
          schema:
            $ref: '#/definitions/ErrorResponse'
securityDefinitions:
  OauthSecurity:
    type: oauth2
    tokenUrl: https://us-api.experian.com/oauth2/v1/token
    flow: password
    scopes:
      admin: admin scope
      user: user scope
definitions:
  voieRequestParams:
    type: object
    required:
      - permissiblePurpose
      - reportType
      - requestor
    properties:
      consumerpii:
        $ref: '#/definitions/PII'
      requestor:
        $ref: '#/definitions/Requestor'
      permissiblePurpose:
        $ref: '#/definitions/PermissiblePurpose'
      resellerInfo:
        $ref: '#/definitions/ResellerInfo'
      reportType:
        type: string
        description: report type for say VOI, VOE.
        default: ExpVerify-Premium
        enum:
          - ExpVerify-Premium
      vendorData:
        $ref: '#/definitions/VendorData'
      customOptions:
        $ref: '#/definitions/CustomOptions'
      reportCustomLabels:
        $ref: '#/definitions/reselleroptionsList'
    description: voie Request Body
  reselleroptionsList:
    type: object
    properties:
      label1:
        $ref: '#/definitions/customfield1'
      label2:
        $ref: '#/definitions/customfield2'
      label3:
        $ref: '#/definitions/customfield3'
      label4:
        $ref: '#/definitions/customfield4'
      label5:
        $ref: '#/definitions/customfield5'
  customfield1:
    type: object
    properties:
      name:
        type: string
        description: name
      value:
        type: string
        description: pay period begin date
    description: custom fields
  customfield2:
    type: object
    properties:
      name:
        type: string
        description: name
      value:
        type: string
        description: custom field value
    description: custom fields
  customfield3:
    type: object
    properties:
      name:
        type: string
        description: name
      value:
        type: string
        description: custom field value
    description: custom fields
  customfield4:
    type: object
    properties:
      name:
        type: string
        description: name
      value:
        type: string
        description: custom field value
    description: custom fields
  customfield5:
    type: object
    properties:
      name:
        type: string
        description: name
      value:
        type: string
        description: custom field value
    description: custom fields
  PermissiblePurpose:
    type: object
    required:
      - type
    properties:
      type:
        type: string
        description: Permissible Purpose Type Code. 2 digits containing the account type code only.
        default: "18"
    description: Specifies information on why this credit inquiry is being submitted This is used to denote the purpose type, terms, and amount.
  PII:
    type: object
    required:
      - applicantInformation
    properties:
      applicantInformation:
        $ref: '#/definitions/Applicant'
    description: Personally Identifiable Information
  PAName:
    type: object
    required:
      - firstName
      - lastName
    properties:
      lastName:
        type: string
        description: The full applicant's surname is required. If the surname contains two surnames, then split the surnames with a hyphen (e.g., Smith-Jones). The surname can also be input with an apostrophe (e.g., O'Brien), although apostrophe usage is limited to the letters D, L, and O.
        default: CONSUMER
      firstName:
        type: string
        description: The full first name is required. The minimum entry is the first name initial. Blanks and special characters (except dash) are not allowed. Compound names should contain a dash (e.g., Billy-Bob).
        default: JOHN
      middleName:
        type: string
        description: The full middle name should be entered when available. A middle initial is acceptable. Blanks and special characters are not allowed. Omit if the middle name is not available.
        default: QUINCY
      generationCode:
        type: string
        description: Generation Code
        default: Sr
    description: Consumer's Name
  Address:
    type: object
    required:
      - city
      - line1
      - state
      - zipCode
    properties:
      line1:
        type: string
        description: Address Line 1
        default: 10655 N BIRCH ST
      line2:
        type: string
        description: Address Line 2
      line3:
        type: string
        description: Address Line 2
        default: ' '
      city:
        type: string
        description: City
        default: BURBANK
      state:
        type: string
        description: State
        default: CA
      zipCode:
        type: string
        description: ZIP Code
        default: "915021234"
    description: Consumer's Address
  DOB:
    type: object
    required:
      - dob
    properties:
      dob:
        type: string
        description: Year Of Birth or Date of Birth. This describes year of birth of the primary applicant. It must be 4 (YYYY) or 8 (MMDDYYYY) digits.
        default: "10181955"
    description: Consumer's Date of Birth
  SSN:
    type: object
    required:
      - ssn
    properties:
      ssn:
        type: string
        description: Social Security Number
        default: "123456789"
    description: Consumer's Social Security Number
  Phone:
    type: object
    properties:
      number:
        type: string
        description: Phone Number
        default: 818.555.1111
      type:
        type: string
        description: Phone Type
        default: R
    description: Consumer's Phone
  Applicant:
    type: object
    required:
      - currentAddress
      - dob
      - name
      - ssn
    properties:
      name:
        $ref: '#/definitions/PAName'
      ssn:
        $ref: '#/definitions/SSN'
      dob:
        $ref: '#/definitions/DOB'
      phone:
        type: array
        items:
          $ref: '#/definitions/Phone'
      currentAddress:
        $ref: '#/definitions/Address'
    description: Applicant Information to get voie
  Requestor:
    type: object
    required:
      - subscriberCode
      - verifierName
    properties:
      subscriberCode:
        type: string
        description: Subscriber Number assigned by Experian
        default: "5991764"
      verifierName:
        type: string
        description: the company name of verifier (ex. the name of the lender)
        default: experian
    description: Information on the API requestor
  VendorData:
    type: object
    properties:
      vendorNumber:
        type: string
        description: Optional. Alpha-numeric. Must be 3 Character long.
        default: "1.0"
      vendorVersion:
        type: string
        description: Optional. Alpha-numeric with dot(.). Max length is 6.
    description: Optional field. To understand who's application the client is using to send in the inquiry - Vendor, 3rd Party, Reseller, or client home grown.
  ResellerInfo:
    type: object
    properties:
      endUserName:
        type: string
        description: reseller endusername
    description: contains consumers employer information
  CustomOptions:
    type: object
    properties:
      optionId:
        type: array
        items:
          type: string
          description: Custom option id
    description: Ancillary Options such as ICRAA (Client custom options if any that have been setup) that can be requested by client.
  tenantRequestParams:
    type: object
    required:
      - consumertoken
      - permissiblePurpose
      - reportType
      - requestor
    properties:
      consumertoken:
        $ref: '#/definitions/consumertoken'
      requestor:
        $ref: '#/definitions/Requestor'
      permissiblePurpose:
        $ref: '#/definitions/PermissiblePurpose'
      resellerInfo:
        $ref: '#/definitions/ResellerInfo'
      reportType:
        type: string
        description: report type for say VOI, VOE.
        default: ExpVerify-Premium
        enum:
          - ExpVerify-Premium
          - Experian Reverify VOIE
      vendorData:
        $ref: '#/definitions/VendorData'
      customOptions:
        $ref: '#/definitions/CustomOptions'
    description: voie Request Body
  consumertoken:
    type: string
    description: connect api token to retrieve consumer PII
    default: NGQ4Zjg0ODQtOWE5Ny00YTI2LTk0ZWMtODc3OWMzNmY5MzRl
  voieResponse:
    type: object
    properties:
      expVerifyReport:
        $ref: '#/definitions/consumerReportResponse'
      pdfbytes:
        type: string
        description: pdf bytes array base 64 encoding
  consumerReportResponse:
    type: object
    properties:
      reportId:
        type: string
        description: unique id given to consumer report
      reportType:
        type: string
        description: type of verification report client needs for the end consumers
        default: ExpVerify-Premium
        enum:
          - ExpVerify-Premium
          - ExpVerify-Reverify VOIE
      reportGeneratedDate:
        type: string
        description: report created date by experian (unixtimestamp)
      requestor:
        $ref: '#/definitions/Requestor'
      resellerInfo:
        $ref: '#/definitions/ResellerInfo'
      reportCustomLabels:
        $ref: '#/definitions/reselleroptionsList'
      consumerPii:
        $ref: '#/definitions/PIIList'
    description: Response information for consumer body
  PIIList:
    type: object
    properties:
      applicantInformation:
        $ref: '#/definitions/ApplicantResponse'
      employmentHistory:
        type: array
        description: contains consumers employer information
        items:
          $ref: '#/definitions/employmentHistoryList'
    description: Personally Identifiable Information
  PANameResponse:
    type: object
    properties:
      lastName:
        type: string
        description: Last Name given in data provider report
      firstName:
        type: string
        description: First Name given in data provider report
      middleName:
        type: string
        description: Middle Name given in data provider report
      generationCode:
        type: string
        description: Generation Code
        default: Sr
    description: Consumer's Name
  SSNResponse:
    type: object
    properties:
      ssn:
        type: string
        description: Social Security Number
    description: Consumer's Social Security Number
  DOBResponse:
    type: object
    properties:
      dob:
        type: string
        description: date of birth
    description: Consumer's Social Security Number
  ApplicantResponse:
    type: object
    required:
      - currentAddress
      - dob
      - name
      - ssn
    properties:
      name:
        $ref: '#/definitions/PANameResponse'
      ssn:
        $ref: '#/definitions/SSNResponse'
      dob:
        $ref: '#/definitions/DOBResponse'
      phone:
        type: array
        items:
          $ref: '#/definitions/Phone'
      currentAddress:
        $ref: '#/definitions/Address'
    description: Applicant Information to get voie
  totalAnnualRemunerationList:
    type: object
    properties:
      year:
        type: number
        description: payroll year
      payAmountYTD:
        $ref: '#/definitions/YTDLIST'
    description: contains employment history details
  YTDLIST:
    type: object
    properties:
      grossPayYTD:
        $ref: '#/definitions/YTDgrossPayAmountList'
      basePayYTD:
        $ref: '#/definitions/YTDbasePayAmountList'
      overtimePayYTD:
        $ref: '#/definitions/YTDoverTimeList'
      bonusPayYTD:
        $ref: '#/definitions/YTDbonusesList'
      otherPayYTD:
        $ref: '#/definitions/YTDotherPayAmountList'
    description: contains list of consumers individual paycheck deposit details
  YTDbasePayAmountList:
    type: object
    properties:
      amount:
        type: number
        description: commission amount for this pay period
      currencyCode:
        type: string
        description: commission currency code for this pay period
        default: USD
    description: commission for this pay period
  YTDotherPayAmountList:
    type: object
    properties:
      amount:
        type: number
        description: commission amount for this pay period
      currencyCode:
        type: string
        description: commission currency code for this pay period
        default: USD
    description: commission for this pay period
  YTDbonusesList:
    type: object
    properties:
      amount:
        type: number
        description: bonus amount for this pay period
      currencyCode:
        type: string
        description: bonus amount currency code for this pay period
        default: USD
    description: Bonus for this pay period
  YTDoverTimeList:
    type: object
    properties:
      amount:
        type: number
        description: OverTime amount for this pay period
      currencyCode:
        type: string
        description: OverTime pay currency code for this pay period
        default: USD
    description: overtime information for this pay period
  YTDgrossPayAmountList:
    type: object
    properties:
      amount:
        type: number
        description: gross pay amount
      currencyCode:
        type: string
        description: gross pay currency code
        default: USD
    description: gross pay for this pay period
  employmentHistoryList:
    type: object
    properties:
      asOfDate:
        type: string
        description: refreshed date
      originReportId:
        type: string
        description: Unique id provided by data provider
      originSourceId:
        type: string
        description: data furnisher
      employerIdentificationNumber:
        type: string
        description: Federal employer Identification Number
      employerName:
        type: string
        description: employer name end consumer is employed to
      originalHireDate:
        type: string
        description: date on which employee was hired
      mostRecentHireDate:
        type: string
        description: most recent date on which employee was hired. format MMDDYYYY
      positionTitle:
        type: string
        description: employee job position title
        default: string
      positionTenure:
        type: number
        description: months on the job
      employerAddress:
        $ref: '#/definitions/employerAddressFields'
      employmentStatus:
        $ref: '#/definitions/employmentstatus'
      workStatus:
        $ref: '#/definitions/workstatus'
      paymentHistory:
        $ref: '#/definitions/paymentHistoryList'
      totalAnnualRemuneration:
        type: array
        description: contains consumers employer information
        items:
          $ref: '#/definitions/totalAnnualRemunerationList'
      employerDisclaimers:
        type: string
        description: Employee Disclaimers placeholder
    description: contains employment history details
  deductionsList:
    type: object
    properties:
      deductionCode:
        $ref: '#/definitions/deductionCodeList'
      deductionAmount:
        $ref: '#/definitions/deductionAmountList'
    description: tax deductions
  deductionCodeList:
    type: object
    properties:
      name:
        type: string
        description: deposited amount for the pay period
        default: Federal tax
        enum:
          - Federal tax
          - State tax
          - Local tax
          - Social security tax
          - Retirement deductions
          - Garnishment deductions
          - Benefit deductions
          - SUI SDI VPDI tax
          - Other deductions
    description: deposit details
  deductionAmountList:
    type: object
    properties:
      amount:
        type: number
        description: deposited amount for the pay period
      currencyCode:
        type: string
        description: deposited amount currency code for the pay period
        default: USD
    description: deposit details
  paymentHistoryList:
    type: array
    description: contains list of consumers individual paycheck data
    items:
      $ref: '#/definitions/payment'
  payment:
    type: object
    properties:
      payDate:
        type: string
        description: individual paycheck generated date
      payDescription:
        type: string
        default: Salary
      payCycle:
        type: string
        description: pay frequency
      basePayRate:
        $ref: '#/definitions/payment_basePayRate'
      payPeriodHours:
        type: number
        description: individual paycheck hours
      payPeriod:
        $ref: '#/definitions/payPeriodList'
      payAmount:
        $ref: '#/definitions/payAmountList'
      deductions: {}
      payDistributions: {}
    description: Summary Attributes
  payAmountList:
    type: object
    properties:
      grossPay:
        $ref: '#/definitions/grossPayAmountList'
      basePay:
        $ref: '#/definitions/basePayAmountList'
      overtimePay:
        $ref: '#/definitions/overTimeList'
      bonusPay:
        $ref: '#/definitions/bonusesList'
      otherPay:
        $ref: '#/definitions/otherPayAmountList'
    description: contains list of consumers individual paycheck deposit details
  payDistributionsList:
    type: object
    properties:
      depositAmount:
        $ref: '#/definitions/depositList'
      depositAccount:
        $ref: '#/definitions/depositAccountList'
    description: contains list of consumers individual paycheck deposit details
  depositList:
    type: object
    properties:
      amount:
        type: number
        description: deposited amount for the pay period
      currencyCode:
        type: string
        description: deposited amount currency code for the pay period
        default: USD
    description: deposit details
  depositAccountList:
    type: object
    properties:
      routingTransitID:
        type: number
        description: routing Transit ID
      accountNumber:
        type: string
        description: bank account number
        default: xxxxx-0000
      accountTypeCode:
        type: string
        description: bank account type
        default: checking
        enum:
          - checking
          - savings
          - share deposit
          - loan deposit
    description: deposited account details
  basePayAmountList:
    type: object
    properties:
      amount:
        type: number
        description: commission amount for this pay period
      currencyCode:
        type: string
        description: commission currency code for this pay period
        default: USD
    description: commission for this pay period
  otherPayAmountList:
    type: object
    properties:
      amount:
        type: number
        description: commission amount for this pay period
      currencyCode:
        type: string
        description: commission currency code for this pay period
        default: USD
    description: commission for this pay period
  bonusesList:
    type: object
    properties:
      amount:
        type: number
        description: bonus amount for this pay period
      currencyCode:
        type: string
        description: bonus amount currency code for this pay period
        default: USD
    description: Bonus for this pay period
  overTimeList:
    type: object
    properties:
      amount:
        type: number
        description: OverTime amount for this pay period
      currencyCode:
        type: string
        description: OverTime pay currency code for this pay period
        default: USD
    description: overtime information for this pay period
  grossPayAmountList:
    type: object
    properties:
      amount:
        type: number
        description: gross pay amount
      currencyCode:
        type: string
        description: gross pay currency code
        default: USD
    description: gross pay for this pay period
  payPeriodList:
    type: object
    properties:
      startDate:
        type: string
        description: pay period begin date
      endDate:
        type: string
        description: pay period end date
    description: payPeriod
  workstatus:
    type: object
    properties:
      name:
        type: string
        description: name - Active, Terminated, Leave
      code:
        type: string
        description: code - A, T, L
    description: employee work status (A - Active, T - Terminated, L - Leave)
  employmentstatus:
    type: object
    properties:
      name:
        type: string
        description: Full time, Part time. For employers that use ADP Payroll HCM such as WorkForce Now, they can enter a freeform text to denote a worker level name for the employee, of which will be provided
      code:
        type: string
        description: code - Full time, Part time. For employers that use ADP Payroll HCM such as WorkForce Now, they can enter a freeform text to denote a worker level code for the employee, of which will be provided
    description: employment type (i.e. Full-time, part-time, regular, temp, contractor)
  employerAddressFields:
    type: object
    properties:
      lineOne:
        type: string
        description: employer address street address
      lineTwo:
        type: string
        description: employer address street address
      lineThree:
        type: string
        description: employer address street address
      cityName:
        type: string
        description: employer address city field
      state:
        type: string
        description: employer address postal code
      countryCode:
        type: string
        description: employer address country code
      postalCode:
        type: string
        description: employer address postal code
    description: contains employer address data elements
  AuthenticationErrorResponse:
    type: object
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/AuthenticationError'
  AuthenticationError:
    type: object
    properties:
      errorCode:
        type: string
        description: Client friendly message explaining the error
      message:
        type: string
        description: Experian generated code for this error
    description: Error Response
  ErrorResponse:
    type: object
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/Error'
  Error:
    type: object
    properties:
      errorCode:
        type: string
        description: Client friendly message explaining the error
      message:
        type: string
        description: Experian generated code for this error
      errorType:
        type: string
        description: To identify the type of error if that is Api Validation or Backend Error.
    description: Error Response
  payment_basePayRate:
    type: object
    properties:
      amount:
        type: number
      currencyCode:
        type: string
        default: USD
    description: base pay rate for the pay period
