openapi: 3.0.1
info:
  description: This document consists of unecrypted version of  Experian Verify service
    endpoints. This service returns standard payroll data Report which has paycheck,
    employer, employee PII, grosspay and other information.
  title: cis-verification-cpd-service
  version: 0.0.7
servers:
- url: https://us-ev-api.experian.com/consumerservices/verification/v1
paths:
  /experianverify:
    post:
      description: Returns income and employment data for a given consumer from employee
        payroll provider.
      operationId: get cpd income and employment data
      parameters:
      - description: API client generated reference Id to uniquely identify the  transaction.
        in: header
        name: clientReferenceId
        required: true
        schema:
          type: string
      - description: Input Request format
        in: header
        name: Content-Type
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      - description: Output Response format
        in: header
        name: Accept
        required: true
        schema:
          default: application/json
          enum:
          - application/json
          type: string
      - description: unique value provided by experian at onboarding
        in: header
        name: subcode
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/voieRequestParams'
        description: Consumer's PII , Requestor Information, Addons and any custom
          options to be specified here.
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/voieResponse'
          description: API responds with a JSON.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
        "401":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AuthenticationErrorResponse'
          description: Unauthorized
        "403":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
        "405":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Method not Allowed
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
        "406":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Acceptable
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
        "415":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unsupported Media Type
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
        "429":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error.
        "502":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: bad gateway.
        "503":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Service Unavailable.
        "504":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Gateway Timeout.
      security:
      - OauthSecurity:
        - user
      summary: Experian Verify income and employment report
      tags:
      - Consumer Services
      x-codegen-request-body-name: body
      x-contentType: '*/*'
      x-accepts: '*/*'
components:
  schemas:
    voieRequestParams:
      description: voie Request Body
      properties:
        consumerpii:
          $ref: '#/components/schemas/PII'
        requestor:
          $ref: '#/components/schemas/Requestor'
        permissiblePurpose:
          $ref: '#/components/schemas/PermissiblePurpose'
        resellerInfo:
          $ref: '#/components/schemas/ResellerInfo'
        reportType:
          default: ExpVerify-Premium
          description: report type for say VOI, VOE.
          enum:
          - ExpVerify-Premium
          type: string
        vendorData:
          $ref: '#/components/schemas/VendorData'
        customOptions:
          $ref: '#/components/schemas/CustomOptions'
        reportCustomLabels:
          $ref: '#/components/schemas/reselleroptionsList'
      required:
      - permissiblePurpose
      - reportType
      - requestor
      type: object
    reselleroptionsList:
      example:
        label4:
          name: name
          value: value
        label5:
          name: name
          value: value
        label1:
          name: name
          value: value
        label2:
          name: name
          value: value
        label3:
          name: name
          value: value
      properties:
        label1:
          $ref: '#/components/schemas/customfield1'
        label2:
          $ref: '#/components/schemas/customfield2'
        label3:
          $ref: '#/components/schemas/customfield3'
        label4:
          $ref: '#/components/schemas/customfield4'
        label5:
          $ref: '#/components/schemas/customfield5'
      type: object
    customfield1:
      description: custom fields
      example:
        name: name
        value: value
      properties:
        name:
          description: name
          type: string
        value:
          description: pay period begin date
          type: string
      type: object
    customfield2:
      description: custom fields
      example:
        name: name
        value: value
      properties:
        name:
          description: name
          type: string
        value:
          description: custom field value
          type: string
      type: object
    customfield3:
      description: custom fields
      example:
        name: name
        value: value
      properties:
        name:
          description: name
          type: string
        value:
          description: custom field value
          type: string
      type: object
    customfield4:
      description: custom fields
      example:
        name: name
        value: value
      properties:
        name:
          description: name
          type: string
        value:
          description: custom field value
          type: string
      type: object
    customfield5:
      description: custom fields
      example:
        name: name
        value: value
      properties:
        name:
          description: name
          type: string
        value:
          description: custom field value
          type: string
      type: object
    PermissiblePurpose:
      description: Specifies information on why this credit inquiry is being submitted
        This is used to denote the purpose type, terms, and amount.
      properties:
        type:
          default: "18"
          description: Permissible Purpose Type Code. 2 digits containing the account
            type code only.
          type: string
      required:
      - type
      type: object
    PII:
      description: Personally Identifiable Information
      properties:
        applicantInformation:
          $ref: '#/components/schemas/Applicant'
      required:
      - applicantInformation
      type: object
    PAName:
      description: Consumer's Name
      properties:
        lastName:
          default: CONSUMER
          description: The full applicant's surname is required. If the surname contains
            two surnames, then split the surnames with a hyphen (e.g., Smith-Jones).
            The surname can also be input with an apostrophe (e.g., O'Brien), although
            apostrophe usage is limited to the letters D, L, and O.
          type: string
        firstName:
          default: JOHN
          description: The full first name is required. The minimum entry is the first
            name initial. Blanks and special characters (except dash) are not allowed.
            Compound names should contain a dash (e.g., Billy-Bob).
          type: string
        middleName:
          default: QUINCY
          description: The full middle name should be entered when available. A middle
            initial is acceptable. Blanks and special characters are not allowed.
            Omit if the middle name is not available.
          type: string
        generationCode:
          default: Sr
          description: Generation Code
          type: string
      required:
      - firstName
      - lastName
      type: object
    Address:
      description: Consumer's Address
      example:
        zipCode: "915021234"
        city: BURBANK
        state: CA
        line3: ' '
        line2: line2
        line1: 10655 N BIRCH ST
      properties:
        line1:
          default: 10655 N BIRCH ST
          description: Address Line 1
          type: string
        line2:
          description: Address Line 2
          type: string
        line3:
          default: ' '
          description: Address Line 2
          type: string
        city:
          default: BURBANK
          description: City
          type: string
        state:
          default: CA
          description: State
          type: string
        zipCode:
          default: "915021234"
          description: ZIP Code
          type: string
      required:
      - city
      - line1
      - state
      - zipCode
      type: object
    DOB:
      description: Consumer's Date of Birth
      properties:
        dob:
          default: "10181955"
          description: Year Of Birth or Date of Birth. This describes year of birth
            of the primary applicant. It must be 4 (YYYY) or 8 (MMDDYYYY) digits.
          type: string
      required:
      - dob
      type: object
    SSN:
      description: Consumer's Social Security Number
      properties:
        ssn:
          default: "123456789"
          description: Social Security Number
          type: string
      required:
      - ssn
      type: object
    Phone:
      description: Consumer's Phone
      example:
        number: 818.555.1111
        type: R
      properties:
        number:
          default: 818.555.1111
          description: Phone Number
          type: string
        type:
          default: R
          description: Phone Type
          type: string
      type: object
    Applicant:
      description: Applicant Information to get voie
      properties:
        name:
          $ref: '#/components/schemas/PAName'
        ssn:
          $ref: '#/components/schemas/SSN'
        dob:
          $ref: '#/components/schemas/DOB'
        phone:
          items:
            $ref: '#/components/schemas/Phone'
          type: array
        currentAddress:
          $ref: '#/components/schemas/Address'
      required:
      - currentAddress
      - dob
      - name
      - ssn
      type: object
    Requestor:
      description: Information on the API requestor
      example:
        subscriberCode: "5991764"
        verifierName: experian
      properties:
        subscriberCode:
          default: "5991764"
          description: Subscriber Number assigned by Experian
          type: string
        verifierName:
          default: experian
          description: the company name of verifier (ex. the name of the lender)
          type: string
      required:
      - subscriberCode
      - verifierName
      type: object
    VendorData:
      description: Optional field. To understand who's application the client is using
        to send in the inquiry - Vendor, 3rd Party, Reseller, or client home grown.
      properties:
        vendorNumber:
          default: "1.0"
          description: Optional. Alpha-numeric. Must be 3 Character long.
          type: string
        vendorVersion:
          description: Optional. Alpha-numeric with dot(.). Max length is 6.
          type: string
      type: object
    ResellerInfo:
      description: contains consumers employer information
      example:
        endUserName: endUserName
      properties:
        endUserName:
          description: reseller endusername
          type: string
      type: object
    CustomOptions:
      description: Ancillary Options such as ICRAA (Client custom options if any that
        have been setup) that can be requested by client.
      properties:
        optionId:
          items:
            description: Custom option id
            type: string
          type: array
      type: object
    tenantRequestParams:
      description: voie Request Body
      properties:
        consumertoken:
          default: NGQ4Zjg0ODQtOWE5Ny00YTI2LTk0ZWMtODc3OWMzNmY5MzRl
          description: connect api token to retrieve consumer PII
          type: string
        requestor:
          $ref: '#/components/schemas/Requestor'
        permissiblePurpose:
          $ref: '#/components/schemas/PermissiblePurpose'
        resellerInfo:
          $ref: '#/components/schemas/ResellerInfo'
        reportType:
          default: ExpVerify-Premium
          description: report type for say VOI, VOE.
          enum:
          - ExpVerify-Premium
          - Experian Reverify VOIE
          type: string
        vendorData:
          $ref: '#/components/schemas/VendorData'
        customOptions:
          $ref: '#/components/schemas/CustomOptions'
      required:
      - consumertoken
      - permissiblePurpose
      - reportType
      - requestor
      type: object
    consumertoken:
      default: NGQ4Zjg0ODQtOWE5Ny00YTI2LTk0ZWMtODc3OWMzNmY5MzRl
      description: connect api token to retrieve consumer PII
      type: string
    voieResponse:
      example:
        pdfbytes: pdfbytes
        expVerifyReport:
          reportType: ExpVerify-Premium
          reportCustomLabels:
            label4:
              name: name
              value: value
            label5:
              name: name
              value: value
            label1:
              name: name
              value: value
            label2:
              name: name
              value: value
            label3:
              name: name
              value: value
          reportId: reportId
          resellerInfo:
            endUserName: endUserName
          reportGeneratedDate: reportGeneratedDate
          requestor:
            subscriberCode: "5991764"
            verifierName: experian
          consumerPii:
            employmentHistory:
            - originSourceId: originSourceId
              originalHireDate: originalHireDate
              workStatus:
                code: code
                name: name
              positionTenure: 0.8008281904610115
              positionTitle: string
              employerAddress:
                lineTwo: lineTwo
                cityName: cityName
                countryCode: countryCode
                postalCode: postalCode
                lineOne: lineOne
                lineThree: lineThree
                state: state
              originReportId: originReportId
              totalAnnualRemuneration:
              - year: 3.616076749251911
                payAmountYTD:
                  bonusPayYTD:
                    amount: 1.2315135367772556
                    currencyCode: USD
                  basePayYTD:
                    amount: 4.145608029883936
                    currencyCode: USD
                  overtimePayYTD:
                    amount: 7.386281948385884
                    currencyCode: USD
                  otherPayYTD:
                    amount: 1.0246457001441578
                    currencyCode: USD
                  grossPayYTD:
                    amount: 2.027123023002322
                    currencyCode: USD
              - year: 3.616076749251911
                payAmountYTD:
                  bonusPayYTD:
                    amount: 1.2315135367772556
                    currencyCode: USD
                  basePayYTD:
                    amount: 4.145608029883936
                    currencyCode: USD
                  overtimePayYTD:
                    amount: 7.386281948385884
                    currencyCode: USD
                  otherPayYTD:
                    amount: 1.0246457001441578
                    currencyCode: USD
                  grossPayYTD:
                    amount: 2.027123023002322
                    currencyCode: USD
              employerName: employerName
              paymentHistory:
              - payDescription: Salary
                payAmount:
                  grossPay:
                    amount: 5.962133916683182
                    currencyCode: USD
                  otherPay:
                    amount: 9.301444243932576
                    currencyCode: USD
                  basePay:
                    amount: 5.637376656633329
                    currencyCode: USD
                  bonusPay:
                    amount: 7.061401241503109
                    currencyCode: USD
                  overtimePay:
                    amount: 2.3021358869347655
                    currencyCode: USD
                payPeriod:
                  endDate: endDate
                  startDate: startDate
                payPeriodHours: 1.4658129805029452
                basePayRate:
                  amount: 6.027456183070403
                  currencyCode: USD
                deductions: '{}'
                payCycle: payCycle
                payDistributions: '{}'
                payDate: payDate
              - payDescription: Salary
                payAmount:
                  grossPay:
                    amount: 5.962133916683182
                    currencyCode: USD
                  otherPay:
                    amount: 9.301444243932576
                    currencyCode: USD
                  basePay:
                    amount: 5.637376656633329
                    currencyCode: USD
                  bonusPay:
                    amount: 7.061401241503109
                    currencyCode: USD
                  overtimePay:
                    amount: 2.3021358869347655
                    currencyCode: USD
                payPeriod:
                  endDate: endDate
                  startDate: startDate
                payPeriodHours: 1.4658129805029452
                basePayRate:
                  amount: 6.027456183070403
                  currencyCode: USD
                deductions: '{}'
                payCycle: payCycle
                payDistributions: '{}'
                payDate: payDate
              mostRecentHireDate: mostRecentHireDate
              employmentStatus:
                code: code
                name: name
              employerIdentificationNumber: employerIdentificationNumber
              employerDisclaimers: employerDisclaimers
              asOfDate: asOfDate
            - originSourceId: originSourceId
              originalHireDate: originalHireDate
              workStatus:
                code: code
                name: name
              positionTenure: 0.8008281904610115
              positionTitle: string
              employerAddress:
                lineTwo: lineTwo
                cityName: cityName
                countryCode: countryCode
                postalCode: postalCode
                lineOne: lineOne
                lineThree: lineThree
                state: state
              originReportId: originReportId
              totalAnnualRemuneration:
              - year: 3.616076749251911
                payAmountYTD:
                  bonusPayYTD:
                    amount: 1.2315135367772556
                    currencyCode: USD
                  basePayYTD:
                    amount: 4.145608029883936
                    currencyCode: USD
                  overtimePayYTD:
                    amount: 7.386281948385884
                    currencyCode: USD
                  otherPayYTD:
                    amount: 1.0246457001441578
                    currencyCode: USD
                  grossPayYTD:
                    amount: 2.027123023002322
                    currencyCode: USD
              - year: 3.616076749251911
                payAmountYTD:
                  bonusPayYTD:
                    amount: 1.2315135367772556
                    currencyCode: USD
                  basePayYTD:
                    amount: 4.145608029883936
                    currencyCode: USD
                  overtimePayYTD:
                    amount: 7.386281948385884
                    currencyCode: USD
                  otherPayYTD:
                    amount: 1.0246457001441578
                    currencyCode: USD
                  grossPayYTD:
                    amount: 2.027123023002322
                    currencyCode: USD
              employerName: employerName
              paymentHistory:
              - payDescription: Salary
                payAmount:
                  grossPay:
                    amount: 5.962133916683182
                    currencyCode: USD
                  otherPay:
                    amount: 9.301444243932576
                    currencyCode: USD
                  basePay:
                    amount: 5.637376656633329
                    currencyCode: USD
                  bonusPay:
                    amount: 7.061401241503109
                    currencyCode: USD
                  overtimePay:
                    amount: 2.3021358869347655
                    currencyCode: USD
                payPeriod:
                  endDate: endDate
                  startDate: startDate
                payPeriodHours: 1.4658129805029452
                basePayRate:
                  amount: 6.027456183070403
                  currencyCode: USD
                deductions: '{}'
                payCycle: payCycle
                payDistributions: '{}'
                payDate: payDate
              - payDescription: Salary
                payAmount:
                  grossPay:
                    amount: 5.962133916683182
                    currencyCode: USD
                  otherPay:
                    amount: 9.301444243932576
                    currencyCode: USD
                  basePay:
                    amount: 5.637376656633329
                    currencyCode: USD
                  bonusPay:
                    amount: 7.061401241503109
                    currencyCode: USD
                  overtimePay:
                    amount: 2.3021358869347655
                    currencyCode: USD
                payPeriod:
                  endDate: endDate
                  startDate: startDate
                payPeriodHours: 1.4658129805029452
                basePayRate:
                  amount: 6.027456183070403
                  currencyCode: USD
                deductions: '{}'
                payCycle: payCycle
                payDistributions: '{}'
                payDate: payDate
              mostRecentHireDate: mostRecentHireDate
              employmentStatus:
                code: code
                name: name
              employerIdentificationNumber: employerIdentificationNumber
              employerDisclaimers: employerDisclaimers
              asOfDate: asOfDate
            applicantInformation:
              phone:
              - number: 818.555.1111
                type: R
              - number: 818.555.1111
                type: R
              dob:
                dob: dob
              name:
                lastName: lastName
                firstName: firstName
                middleName: middleName
                generationCode: Sr
              ssn:
                ssn: ssn
              currentAddress:
                zipCode: "915021234"
                city: BURBANK
                state: CA
                line3: ' '
                line2: line2
                line1: 10655 N BIRCH ST
      properties:
        expVerifyReport:
          $ref: '#/components/schemas/consumerReportResponse'
        pdfbytes:
          description: pdf bytes array base 64 encoding
          type: string
      type: object
    consumerReportResponse:
      description: Response information for consumer body
      example:
        reportType: ExpVerify-Premium
        reportCustomLabels:
          label4:
            name: name
            value: value
          label5:
            name: name
            value: value
          label1:
            name: name
            value: value
          label2:
            name: name
            value: value
          label3:
            name: name
            value: value
        reportId: reportId
        resellerInfo:
          endUserName: endUserName
        reportGeneratedDate: reportGeneratedDate
        requestor:
          subscriberCode: "5991764"
          verifierName: experian
        consumerPii:
          employmentHistory:
          - originSourceId: originSourceId
            originalHireDate: originalHireDate
            workStatus:
              code: code
              name: name
            positionTenure: 0.8008281904610115
            positionTitle: string
            employerAddress:
              lineTwo: lineTwo
              cityName: cityName
              countryCode: countryCode
              postalCode: postalCode
              lineOne: lineOne
              lineThree: lineThree
              state: state
            originReportId: originReportId
            totalAnnualRemuneration:
            - year: 3.616076749251911
              payAmountYTD:
                bonusPayYTD:
                  amount: 1.2315135367772556
                  currencyCode: USD
                basePayYTD:
                  amount: 4.145608029883936
                  currencyCode: USD
                overtimePayYTD:
                  amount: 7.386281948385884
                  currencyCode: USD
                otherPayYTD:
                  amount: 1.0246457001441578
                  currencyCode: USD
                grossPayYTD:
                  amount: 2.027123023002322
                  currencyCode: USD
            - year: 3.616076749251911
              payAmountYTD:
                bonusPayYTD:
                  amount: 1.2315135367772556
                  currencyCode: USD
                basePayYTD:
                  amount: 4.145608029883936
                  currencyCode: USD
                overtimePayYTD:
                  amount: 7.386281948385884
                  currencyCode: USD
                otherPayYTD:
                  amount: 1.0246457001441578
                  currencyCode: USD
                grossPayYTD:
                  amount: 2.027123023002322
                  currencyCode: USD
            employerName: employerName
            paymentHistory:
            - payDescription: Salary
              payAmount:
                grossPay:
                  amount: 5.962133916683182
                  currencyCode: USD
                otherPay:
                  amount: 9.301444243932576
                  currencyCode: USD
                basePay:
                  amount: 5.637376656633329
                  currencyCode: USD
                bonusPay:
                  amount: 7.061401241503109
                  currencyCode: USD
                overtimePay:
                  amount: 2.3021358869347655
                  currencyCode: USD
              payPeriod:
                endDate: endDate
                startDate: startDate
              payPeriodHours: 1.4658129805029452
              basePayRate:
                amount: 6.027456183070403
                currencyCode: USD
              deductions: '{}'
              payCycle: payCycle
              payDistributions: '{}'
              payDate: payDate
            - payDescription: Salary
              payAmount:
                grossPay:
                  amount: 5.962133916683182
                  currencyCode: USD
                otherPay:
                  amount: 9.301444243932576
                  currencyCode: USD
                basePay:
                  amount: 5.637376656633329
                  currencyCode: USD
                bonusPay:
                  amount: 7.061401241503109
                  currencyCode: USD
                overtimePay:
                  amount: 2.3021358869347655
                  currencyCode: USD
              payPeriod:
                endDate: endDate
                startDate: startDate
              payPeriodHours: 1.4658129805029452
              basePayRate:
                amount: 6.027456183070403
                currencyCode: USD
              deductions: '{}'
              payCycle: payCycle
              payDistributions: '{}'
              payDate: payDate
            mostRecentHireDate: mostRecentHireDate
            employmentStatus:
              code: code
              name: name
            employerIdentificationNumber: employerIdentificationNumber
            employerDisclaimers: employerDisclaimers
            asOfDate: asOfDate
          - originSourceId: originSourceId
            originalHireDate: originalHireDate
            workStatus:
              code: code
              name: name
            positionTenure: 0.8008281904610115
            positionTitle: string
            employerAddress:
              lineTwo: lineTwo
              cityName: cityName
              countryCode: countryCode
              postalCode: postalCode
              lineOne: lineOne
              lineThree: lineThree
              state: state
            originReportId: originReportId
            totalAnnualRemuneration:
            - year: 3.616076749251911
              payAmountYTD:
                bonusPayYTD:
                  amount: 1.2315135367772556
                  currencyCode: USD
                basePayYTD:
                  amount: 4.145608029883936
                  currencyCode: USD
                overtimePayYTD:
                  amount: 7.386281948385884
                  currencyCode: USD
                otherPayYTD:
                  amount: 1.0246457001441578
                  currencyCode: USD
                grossPayYTD:
                  amount: 2.027123023002322
                  currencyCode: USD
            - year: 3.616076749251911
              payAmountYTD:
                bonusPayYTD:
                  amount: 1.2315135367772556
                  currencyCode: USD
                basePayYTD:
                  amount: 4.145608029883936
                  currencyCode: USD
                overtimePayYTD:
                  amount: 7.386281948385884
                  currencyCode: USD
                otherPayYTD:
                  amount: 1.0246457001441578
                  currencyCode: USD
                grossPayYTD:
                  amount: 2.027123023002322
                  currencyCode: USD
            employerName: employerName
            paymentHistory:
            - payDescription: Salary
              payAmount:
                grossPay:
                  amount: 5.962133916683182
                  currencyCode: USD
                otherPay:
                  amount: 9.301444243932576
                  currencyCode: USD
                basePay:
                  amount: 5.637376656633329
                  currencyCode: USD
                bonusPay:
                  amount: 7.061401241503109
                  currencyCode: USD
                overtimePay:
                  amount: 2.3021358869347655
                  currencyCode: USD
              payPeriod:
                endDate: endDate
                startDate: startDate
              payPeriodHours: 1.4658129805029452
              basePayRate:
                amount: 6.027456183070403
                currencyCode: USD
              deductions: '{}'
              payCycle: payCycle
              payDistributions: '{}'
              payDate: payDate
            - payDescription: Salary
              payAmount:
                grossPay:
                  amount: 5.962133916683182
                  currencyCode: USD
                otherPay:
                  amount: 9.301444243932576
                  currencyCode: USD
                basePay:
                  amount: 5.637376656633329
                  currencyCode: USD
                bonusPay:
                  amount: 7.061401241503109
                  currencyCode: USD
                overtimePay:
                  amount: 2.3021358869347655
                  currencyCode: USD
              payPeriod:
                endDate: endDate
                startDate: startDate
              payPeriodHours: 1.4658129805029452
              basePayRate:
                amount: 6.027456183070403
                currencyCode: USD
              deductions: '{}'
              payCycle: payCycle
              payDistributions: '{}'
              payDate: payDate
            mostRecentHireDate: mostRecentHireDate
            employmentStatus:
              code: code
              name: name
            employerIdentificationNumber: employerIdentificationNumber
            employerDisclaimers: employerDisclaimers
            asOfDate: asOfDate
          applicantInformation:
            phone:
            - number: 818.555.1111
              type: R
            - number: 818.555.1111
              type: R
            dob:
              dob: dob
            name:
              lastName: lastName
              firstName: firstName
              middleName: middleName
              generationCode: Sr
            ssn:
              ssn: ssn
            currentAddress:
              zipCode: "915021234"
              city: BURBANK
              state: CA
              line3: ' '
              line2: line2
              line1: 10655 N BIRCH ST
      properties:
        reportId:
          description: unique id given to consumer report
          type: string
        reportType:
          default: ExpVerify-Premium
          description: type of verification report client needs for the end consumers
          enum:
          - ExpVerify-Premium
          - ExpVerify-Reverify VOIE
          type: string
        reportGeneratedDate:
          description: report created date by experian (unixtimestamp)
          type: string
        requestor:
          $ref: '#/components/schemas/Requestor'
        resellerInfo:
          $ref: '#/components/schemas/ResellerInfo'
        reportCustomLabels:
          $ref: '#/components/schemas/reselleroptionsList'
        consumerPii:
          $ref: '#/components/schemas/PIIList'
      type: object
    PIIList:
      description: Personally Identifiable Information
      example:
        employmentHistory:
        - originSourceId: originSourceId
          originalHireDate: originalHireDate
          workStatus:
            code: code
            name: name
          positionTenure: 0.8008281904610115
          positionTitle: string
          employerAddress:
            lineTwo: lineTwo
            cityName: cityName
            countryCode: countryCode
            postalCode: postalCode
            lineOne: lineOne
            lineThree: lineThree
            state: state
          originReportId: originReportId
          totalAnnualRemuneration:
          - year: 3.616076749251911
            payAmountYTD:
              bonusPayYTD:
                amount: 1.2315135367772556
                currencyCode: USD
              basePayYTD:
                amount: 4.145608029883936
                currencyCode: USD
              overtimePayYTD:
                amount: 7.386281948385884
                currencyCode: USD
              otherPayYTD:
                amount: 1.0246457001441578
                currencyCode: USD
              grossPayYTD:
                amount: 2.027123023002322
                currencyCode: USD
          - year: 3.616076749251911
            payAmountYTD:
              bonusPayYTD:
                amount: 1.2315135367772556
                currencyCode: USD
              basePayYTD:
                amount: 4.145608029883936
                currencyCode: USD
              overtimePayYTD:
                amount: 7.386281948385884
                currencyCode: USD
              otherPayYTD:
                amount: 1.0246457001441578
                currencyCode: USD
              grossPayYTD:
                amount: 2.027123023002322
                currencyCode: USD
          employerName: employerName
          paymentHistory:
          - payDescription: Salary
            payAmount:
              grossPay:
                amount: 5.962133916683182
                currencyCode: USD
              otherPay:
                amount: 9.301444243932576
                currencyCode: USD
              basePay:
                amount: 5.637376656633329
                currencyCode: USD
              bonusPay:
                amount: 7.061401241503109
                currencyCode: USD
              overtimePay:
                amount: 2.3021358869347655
                currencyCode: USD
            payPeriod:
              endDate: endDate
              startDate: startDate
            payPeriodHours: 1.4658129805029452
            basePayRate:
              amount: 6.027456183070403
              currencyCode: USD
            deductions: '{}'
            payCycle: payCycle
            payDistributions: '{}'
            payDate: payDate
          - payDescription: Salary
            payAmount:
              grossPay:
                amount: 5.962133916683182
                currencyCode: USD
              otherPay:
                amount: 9.301444243932576
                currencyCode: USD
              basePay:
                amount: 5.637376656633329
                currencyCode: USD
              bonusPay:
                amount: 7.061401241503109
                currencyCode: USD
              overtimePay:
                amount: 2.3021358869347655
                currencyCode: USD
            payPeriod:
              endDate: endDate
              startDate: startDate
            payPeriodHours: 1.4658129805029452
            basePayRate:
              amount: 6.027456183070403
              currencyCode: USD
            deductions: '{}'
            payCycle: payCycle
            payDistributions: '{}'
            payDate: payDate
          mostRecentHireDate: mostRecentHireDate
          employmentStatus:
            code: code
            name: name
          employerIdentificationNumber: employerIdentificationNumber
          employerDisclaimers: employerDisclaimers
          asOfDate: asOfDate
        - originSourceId: originSourceId
          originalHireDate: originalHireDate
          workStatus:
            code: code
            name: name
          positionTenure: 0.8008281904610115
          positionTitle: string
          employerAddress:
            lineTwo: lineTwo
            cityName: cityName
            countryCode: countryCode
            postalCode: postalCode
            lineOne: lineOne
            lineThree: lineThree
            state: state
          originReportId: originReportId
          totalAnnualRemuneration:
          - year: 3.616076749251911
            payAmountYTD:
              bonusPayYTD:
                amount: 1.2315135367772556
                currencyCode: USD
              basePayYTD:
                amount: 4.145608029883936
                currencyCode: USD
              overtimePayYTD:
                amount: 7.386281948385884
                currencyCode: USD
              otherPayYTD:
                amount: 1.0246457001441578
                currencyCode: USD
              grossPayYTD:
                amount: 2.027123023002322
                currencyCode: USD
          - year: 3.616076749251911
            payAmountYTD:
              bonusPayYTD:
                amount: 1.2315135367772556
                currencyCode: USD
              basePayYTD:
                amount: 4.145608029883936
                currencyCode: USD
              overtimePayYTD:
                amount: 7.386281948385884
                currencyCode: USD
              otherPayYTD:
                amount: 1.0246457001441578
                currencyCode: USD
              grossPayYTD:
                amount: 2.027123023002322
                currencyCode: USD
          employerName: employerName
          paymentHistory:
          - payDescription: Salary
            payAmount:
              grossPay:
                amount: 5.962133916683182
                currencyCode: USD
              otherPay:
                amount: 9.301444243932576
                currencyCode: USD
              basePay:
                amount: 5.637376656633329
                currencyCode: USD
              bonusPay:
                amount: 7.061401241503109
                currencyCode: USD
              overtimePay:
                amount: 2.3021358869347655
                currencyCode: USD
            payPeriod:
              endDate: endDate
              startDate: startDate
            payPeriodHours: 1.4658129805029452
            basePayRate:
              amount: 6.027456183070403
              currencyCode: USD
            deductions: '{}'
            payCycle: payCycle
            payDistributions: '{}'
            payDate: payDate
          - payDescription: Salary
            payAmount:
              grossPay:
                amount: 5.962133916683182
                currencyCode: USD
              otherPay:
                amount: 9.301444243932576
                currencyCode: USD
              basePay:
                amount: 5.637376656633329
                currencyCode: USD
              bonusPay:
                amount: 7.061401241503109
                currencyCode: USD
              overtimePay:
                amount: 2.3021358869347655
                currencyCode: USD
            payPeriod:
              endDate: endDate
              startDate: startDate
            payPeriodHours: 1.4658129805029452
            basePayRate:
              amount: 6.027456183070403
              currencyCode: USD
            deductions: '{}'
            payCycle: payCycle
            payDistributions: '{}'
            payDate: payDate
          mostRecentHireDate: mostRecentHireDate
          employmentStatus:
            code: code
            name: name
          employerIdentificationNumber: employerIdentificationNumber
          employerDisclaimers: employerDisclaimers
          asOfDate: asOfDate
        applicantInformation:
          phone:
          - number: 818.555.1111
            type: R
          - number: 818.555.1111
            type: R
          dob:
            dob: dob
          name:
            lastName: lastName
            firstName: firstName
            middleName: middleName
            generationCode: Sr
          ssn:
            ssn: ssn
          currentAddress:
            zipCode: "915021234"
            city: BURBANK
            state: CA
            line3: ' '
            line2: line2
            line1: 10655 N BIRCH ST
      properties:
        applicantInformation:
          $ref: '#/components/schemas/ApplicantResponse'
        employmentHistory:
          description: contains consumers employer information
          items:
            $ref: '#/components/schemas/employmentHistoryList'
          type: array
      type: object
    PANameResponse:
      description: Consumer's Name
      example:
        lastName: lastName
        firstName: firstName
        middleName: middleName
        generationCode: Sr
      properties:
        lastName:
          description: Last Name given in data provider report
          type: string
        firstName:
          description: First Name given in data provider report
          type: string
        middleName:
          description: Middle Name given in data provider report
          type: string
        generationCode:
          default: Sr
          description: Generation Code
          type: string
      type: object
    SSNResponse:
      description: Consumer's Social Security Number
      example:
        ssn: ssn
      properties:
        ssn:
          description: Social Security Number
          type: string
      type: object
    DOBResponse:
      description: Consumer's Social Security Number
      example:
        dob: dob
      properties:
        dob:
          description: date of birth
          type: string
      type: object
    ApplicantResponse:
      description: Applicant Information to get voie
      example:
        phone:
        - number: 818.555.1111
          type: R
        - number: 818.555.1111
          type: R
        dob:
          dob: dob
        name:
          lastName: lastName
          firstName: firstName
          middleName: middleName
          generationCode: Sr
        ssn:
          ssn: ssn
        currentAddress:
          zipCode: "915021234"
          city: BURBANK
          state: CA
          line3: ' '
          line2: line2
          line1: 10655 N BIRCH ST
      properties:
        name:
          $ref: '#/components/schemas/PANameResponse'
        ssn:
          $ref: '#/components/schemas/SSNResponse'
        dob:
          $ref: '#/components/schemas/DOBResponse'
        phone:
          items:
            $ref: '#/components/schemas/Phone'
          type: array
        currentAddress:
          $ref: '#/components/schemas/Address'
      required:
      - currentAddress
      - dob
      - name
      - ssn
      type: object
    totalAnnualRemunerationList:
      description: contains employment history details
      example:
        year: 3.616076749251911
        payAmountYTD:
          bonusPayYTD:
            amount: 1.2315135367772556
            currencyCode: USD
          basePayYTD:
            amount: 4.145608029883936
            currencyCode: USD
          overtimePayYTD:
            amount: 7.386281948385884
            currencyCode: USD
          otherPayYTD:
            amount: 1.0246457001441578
            currencyCode: USD
          grossPayYTD:
            amount: 2.027123023002322
            currencyCode: USD
      properties:
        year:
          description: payroll year
          type: number
        payAmountYTD:
          $ref: '#/components/schemas/YTDLIST'
      type: object
    YTDLIST:
      description: contains list of consumers individual paycheck deposit details
      example:
        bonusPayYTD:
          amount: 1.2315135367772556
          currencyCode: USD
        basePayYTD:
          amount: 4.145608029883936
          currencyCode: USD
        overtimePayYTD:
          amount: 7.386281948385884
          currencyCode: USD
        otherPayYTD:
          amount: 1.0246457001441578
          currencyCode: USD
        grossPayYTD:
          amount: 2.027123023002322
          currencyCode: USD
      properties:
        grossPayYTD:
          $ref: '#/components/schemas/YTDgrossPayAmountList'
        basePayYTD:
          $ref: '#/components/schemas/YTDbasePayAmountList'
        overtimePayYTD:
          $ref: '#/components/schemas/YTDoverTimeList'
        bonusPayYTD:
          $ref: '#/components/schemas/YTDbonusesList'
        otherPayYTD:
          $ref: '#/components/schemas/YTDotherPayAmountList'
      type: object
    YTDbasePayAmountList:
      description: commission for this pay period
      example:
        amount: 4.145608029883936
        currencyCode: USD
      properties:
        amount:
          description: commission amount for this pay period
          type: number
        currencyCode:
          default: USD
          description: commission currency code for this pay period
          type: string
      type: object
    YTDotherPayAmountList:
      description: commission for this pay period
      example:
        amount: 1.0246457001441578
        currencyCode: USD
      properties:
        amount:
          description: commission amount for this pay period
          type: number
        currencyCode:
          default: USD
          description: commission currency code for this pay period
          type: string
      type: object
    YTDbonusesList:
      description: Bonus for this pay period
      example:
        amount: 1.2315135367772556
        currencyCode: USD
      properties:
        amount:
          description: bonus amount for this pay period
          type: number
        currencyCode:
          default: USD
          description: bonus amount currency code for this pay period
          type: string
      type: object
    YTDoverTimeList:
      description: overtime information for this pay period
      example:
        amount: 7.386281948385884
        currencyCode: USD
      properties:
        amount:
          description: OverTime amount for this pay period
          type: number
        currencyCode:
          default: USD
          description: OverTime pay currency code for this pay period
          type: string
      type: object
    YTDgrossPayAmountList:
      description: gross pay for this pay period
      example:
        amount: 2.027123023002322
        currencyCode: USD
      properties:
        amount:
          description: gross pay amount
          type: number
        currencyCode:
          default: USD
          description: gross pay currency code
          type: string
      type: object
    employmentHistoryList:
      description: contains employment history details
      example:
        originSourceId: originSourceId
        originalHireDate: originalHireDate
        workStatus:
          code: code
          name: name
        positionTenure: 0.8008281904610115
        positionTitle: string
        employerAddress:
          lineTwo: lineTwo
          cityName: cityName
          countryCode: countryCode
          postalCode: postalCode
          lineOne: lineOne
          lineThree: lineThree
          state: state
        originReportId: originReportId
        totalAnnualRemuneration:
        - year: 3.616076749251911
          payAmountYTD:
            bonusPayYTD:
              amount: 1.2315135367772556
              currencyCode: USD
            basePayYTD:
              amount: 4.145608029883936
              currencyCode: USD
            overtimePayYTD:
              amount: 7.386281948385884
              currencyCode: USD
            otherPayYTD:
              amount: 1.0246457001441578
              currencyCode: USD
            grossPayYTD:
              amount: 2.027123023002322
              currencyCode: USD
        - year: 3.616076749251911
          payAmountYTD:
            bonusPayYTD:
              amount: 1.2315135367772556
              currencyCode: USD
            basePayYTD:
              amount: 4.145608029883936
              currencyCode: USD
            overtimePayYTD:
              amount: 7.386281948385884
              currencyCode: USD
            otherPayYTD:
              amount: 1.0246457001441578
              currencyCode: USD
            grossPayYTD:
              amount: 2.027123023002322
              currencyCode: USD
        employerName: employerName
        paymentHistory:
        - payDescription: Salary
          payAmount:
            grossPay:
              amount: 5.962133916683182
              currencyCode: USD
            otherPay:
              amount: 9.301444243932576
              currencyCode: USD
            basePay:
              amount: 5.637376656633329
              currencyCode: USD
            bonusPay:
              amount: 7.061401241503109
              currencyCode: USD
            overtimePay:
              amount: 2.3021358869347655
              currencyCode: USD
          payPeriod:
            endDate: endDate
            startDate: startDate
          payPeriodHours: 1.4658129805029452
          basePayRate:
            amount: 6.027456183070403
            currencyCode: USD
          deductions: '{}'
          payCycle: payCycle
          payDistributions: '{}'
          payDate: payDate
        - payDescription: Salary
          payAmount:
            grossPay:
              amount: 5.962133916683182
              currencyCode: USD
            otherPay:
              amount: 9.301444243932576
              currencyCode: USD
            basePay:
              amount: 5.637376656633329
              currencyCode: USD
            bonusPay:
              amount: 7.061401241503109
              currencyCode: USD
            overtimePay:
              amount: 2.3021358869347655
              currencyCode: USD
          payPeriod:
            endDate: endDate
            startDate: startDate
          payPeriodHours: 1.4658129805029452
          basePayRate:
            amount: 6.027456183070403
            currencyCode: USD
          deductions: '{}'
          payCycle: payCycle
          payDistributions: '{}'
          payDate: payDate
        mostRecentHireDate: mostRecentHireDate
        employmentStatus:
          code: code
          name: name
        employerIdentificationNumber: employerIdentificationNumber
        employerDisclaimers: employerDisclaimers
        asOfDate: asOfDate
      properties:
        asOfDate:
          description: refreshed date
          type: string
        originReportId:
          description: Unique id provided by data provider
          type: string
        originSourceId:
          description: data furnisher
          type: string
        employerIdentificationNumber:
          description: Federal employer Identification Number
          type: string
        employerName:
          description: employer name end consumer is employed to
          type: string
        originalHireDate:
          description: date on which employee was hired
          type: string
        mostRecentHireDate:
          description: most recent date on which employee was hired. format MMDDYYYY
          type: string
        positionTitle:
          default: string
          description: employee job position title
          type: string
        positionTenure:
          description: months on the job
          type: number
        employerAddress:
          $ref: '#/components/schemas/employerAddressFields'
        employmentStatus:
          $ref: '#/components/schemas/employmentstatus'
        workStatus:
          $ref: '#/components/schemas/workstatus'
        paymentHistory:
          description: contains list of consumers individual paycheck data
          items:
            $ref: '#/components/schemas/payment'
          type: array
        totalAnnualRemuneration:
          description: contains consumers employer information
          items:
            $ref: '#/components/schemas/totalAnnualRemunerationList'
          type: array
        employerDisclaimers:
          description: Employee Disclaimers placeholder
          type: string
      type: object
    deductionsList:
      description: tax deductions
      properties:
        deductionCode:
          $ref: '#/components/schemas/deductionCodeList'
        deductionAmount:
          $ref: '#/components/schemas/deductionAmountList'
      type: object
    deductionCodeList:
      description: deposit details
      properties:
        name:
          default: Federal tax
          description: deposited amount for the pay period
          enum:
          - Federal tax
          - State tax
          - Local tax
          - Social security tax
          - Retirement deductions
          - Garnishment deductions
          - Benefit deductions
          - SUI SDI VPDI tax
          - Other deductions
          type: string
      type: object
    deductionAmountList:
      description: deposit details
      properties:
        amount:
          description: deposited amount for the pay period
          type: number
        currencyCode:
          default: USD
          description: deposited amount currency code for the pay period
          type: string
      type: object
    paymentHistoryList:
      description: contains list of consumers individual paycheck data
      items:
        $ref: '#/components/schemas/payment'
      type: array
    payment:
      description: Summary Attributes
      example:
        payDescription: Salary
        payAmount:
          grossPay:
            amount: 5.962133916683182
            currencyCode: USD
          otherPay:
            amount: 9.301444243932576
            currencyCode: USD
          basePay:
            amount: 5.637376656633329
            currencyCode: USD
          bonusPay:
            amount: 7.061401241503109
            currencyCode: USD
          overtimePay:
            amount: 2.3021358869347655
            currencyCode: USD
        payPeriod:
          endDate: endDate
          startDate: startDate
        payPeriodHours: 1.4658129805029452
        basePayRate:
          amount: 6.027456183070403
          currencyCode: USD
        deductions: '{}'
        payCycle: payCycle
        payDistributions: '{}'
        payDate: payDate
      properties:
        payDate:
          description: individual paycheck generated date
          type: string
        payDescription:
          default: Salary
          type: string
        payCycle:
          description: pay frequency
          type: string
        basePayRate:
          $ref: '#/components/schemas/payment_basePayRate'
        payPeriodHours:
          description: individual paycheck hours
          type: number
        payPeriod:
          $ref: '#/components/schemas/payPeriodList'
        payAmount:
          $ref: '#/components/schemas/payAmountList'
        deductions:
          type: object
        payDistributions:
          type: object
      type: object
    payAmountList:
      description: contains list of consumers individual paycheck deposit details
      example:
        grossPay:
          amount: 5.962133916683182
          currencyCode: USD
        otherPay:
          amount: 9.301444243932576
          currencyCode: USD
        basePay:
          amount: 5.637376656633329
          currencyCode: USD
        bonusPay:
          amount: 7.061401241503109
          currencyCode: USD
        overtimePay:
          amount: 2.3021358869347655
          currencyCode: USD
      properties:
        grossPay:
          $ref: '#/components/schemas/grossPayAmountList'
        basePay:
          $ref: '#/components/schemas/basePayAmountList'
        overtimePay:
          $ref: '#/components/schemas/overTimeList'
        bonusPay:
          $ref: '#/components/schemas/bonusesList'
        otherPay:
          $ref: '#/components/schemas/otherPayAmountList'
      type: object
    payDistributionsList:
      description: contains list of consumers individual paycheck deposit details
      properties:
        depositAmount:
          $ref: '#/components/schemas/depositList'
        depositAccount:
          $ref: '#/components/schemas/depositAccountList'
      type: object
    depositList:
      description: deposit details
      properties:
        amount:
          description: deposited amount for the pay period
          type: number
        currencyCode:
          default: USD
          description: deposited amount currency code for the pay period
          type: string
      type: object
    depositAccountList:
      description: deposited account details
      properties:
        routingTransitID:
          description: routing Transit ID
          type: number
        accountNumber:
          default: xxxxx-0000
          description: bank account number
          type: string
        accountTypeCode:
          default: checking
          description: bank account type
          enum:
          - checking
          - savings
          - share deposit
          - loan deposit
          type: string
      type: object
    basePayAmountList:
      description: commission for this pay period
      example:
        amount: 5.637376656633329
        currencyCode: USD
      properties:
        amount:
          description: commission amount for this pay period
          type: number
        currencyCode:
          default: USD
          description: commission currency code for this pay period
          type: string
      type: object
    otherPayAmountList:
      description: commission for this pay period
      example:
        amount: 9.301444243932576
        currencyCode: USD
      properties:
        amount:
          description: commission amount for this pay period
          type: number
        currencyCode:
          default: USD
          description: commission currency code for this pay period
          type: string
      type: object
    bonusesList:
      description: Bonus for this pay period
      example:
        amount: 7.061401241503109
        currencyCode: USD
      properties:
        amount:
          description: bonus amount for this pay period
          type: number
        currencyCode:
          default: USD
          description: bonus amount currency code for this pay period
          type: string
      type: object
    overTimeList:
      description: overtime information for this pay period
      example:
        amount: 2.3021358869347655
        currencyCode: USD
      properties:
        amount:
          description: OverTime amount for this pay period
          type: number
        currencyCode:
          default: USD
          description: OverTime pay currency code for this pay period
          type: string
      type: object
    grossPayAmountList:
      description: gross pay for this pay period
      example:
        amount: 5.962133916683182
        currencyCode: USD
      properties:
        amount:
          description: gross pay amount
          type: number
        currencyCode:
          default: USD
          description: gross pay currency code
          type: string
      type: object
    payPeriodList:
      description: payPeriod
      example:
        endDate: endDate
        startDate: startDate
      properties:
        startDate:
          description: pay period begin date
          type: string
        endDate:
          description: pay period end date
          type: string
      type: object
    workstatus:
      description: employee work status (A - Active, T - Terminated, L - Leave)
      example:
        code: code
        name: name
      properties:
        name:
          description: name - Active, Terminated, Leave
          type: string
        code:
          description: code - A, T, L
          type: string
      type: object
    employmentstatus:
      description: employment type (i.e. Full-time, part-time, regular, temp, contractor)
      example:
        code: code
        name: name
      properties:
        name:
          description: Full time, Part time. For employers that use ADP Payroll HCM
            such as WorkForce Now, they can enter a freeform text to denote a worker
            level name for the employee, of which will be provided
          type: string
        code:
          description: code - Full time, Part time. For employers that use ADP Payroll
            HCM such as WorkForce Now, they can enter a freeform text to denote a
            worker level code for the employee, of which will be provided
          type: string
      type: object
    employerAddressFields:
      description: contains employer address data elements
      example:
        lineTwo: lineTwo
        cityName: cityName
        countryCode: countryCode
        postalCode: postalCode
        lineOne: lineOne
        lineThree: lineThree
        state: state
      properties:
        lineOne:
          description: employer address street address
          type: string
        lineTwo:
          description: employer address street address
          type: string
        lineThree:
          description: employer address street address
          type: string
        cityName:
          description: employer address city field
          type: string
        state:
          description: employer address postal code
          type: string
        countryCode:
          description: employer address country code
          type: string
        postalCode:
          description: employer address postal code
          type: string
      type: object
    AuthenticationErrorResponse:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/AuthenticationError'
          type: array
      type: object
    AuthenticationError:
      description: Error Response
      properties:
        errorCode:
          description: Client friendly message explaining the error
          type: string
        message:
          description: Experian generated code for this error
          type: string
      type: object
    ErrorResponse:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/Error'
          type: array
      type: object
    Error:
      description: Error Response
      properties:
        errorCode:
          description: Client friendly message explaining the error
          type: string
        message:
          description: Experian generated code for this error
          type: string
        errorType:
          description: To identify the type of error if that is Api Validation or
            Backend Error.
          type: string
      type: object
    payment_basePayRate:
      description: base pay rate for the pay period
      example:
        amount: 6.027456183070403
        currencyCode: USD
      properties:
        amount:
          type: number
        currencyCode:
          default: USD
          type: string
      type: object
  securitySchemes:
    OauthSecurity:
      flows:
        password:
          scopes:
            admin: admin scope
            user: user scope
          tokenUrl: https://us-api.experian.com/oauth2/v1/token
      type: oauth2
x-original-swagger-version: "2.0"

